.signupShopper{

	#logo {
	background-image: url('../img/logo.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 150px;
	height: 150px;
	margin-top: 50px;
	margin-left: 100px;
	z-index: 2;
	position: relative;
	}

	h2 {
		font-family: 15px;
		font-family: 'Amita', cursive;

	}

	.item.wrap, .item-content.wrap {
		white-space: normal;
	}

  }
