.SignUpShopper{
  .background {
    background-image: url('https://s-media-cache-ak0.pinimg.com/564x/34/07/46/3407461fc55921a63dc599f6ee916ecf.jpg');
    background-size: cover;
  }
}

h2 {
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
    color: #4CAF50;
 
   

}
